@font-face {
   font-family: 'Italiana';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/CynicDroid/Documents/CYNICDROID/fonts/Italiana/regular.ttf') format('truetype');
}
